<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.MenuMapper">

    <!-- 结果映射 -->
    <resultMap id="menu" type="com.example.demo.entity.Menu" autoMapping="true">
        <id column="id" property="id"/>
        <result column="path" property="path"/>
        <result column="name" property="name"/>
        <result column="name_zh" property="name_zh"/>
        <result column="icon" property="icon"/>
        <result column="component" property="component"/>
        <result column="parent_id" property="parent_id"/>
        <collection property="children" column="id" ofType="com.example.demo.entity.Menu" select="findMenuByid"/>
    </resultMap>
    <select id="findMenu" resultMap="menu" parameterType="com.example.demo.entity.Menu">
        SELECT m.*
        FROM menu m
        INNER JOIN role_menu rm
        ON m.id = rm.mid
        INNER JOIN role r
        ON r.id = rm.rid
        WHERE m.parent_id = 0 and r.id in (
            SELECT r.id
            FROM user u
            INNER JOIN user_role ur
            ON u.id = ur.uid
            INNER JOIN role r
            ON r.id = ur.rid
            WHERE u.username = #{username}
        )
    </select>
    <select id="findMenuByid" resultMap="menu" parameterType="java.util.Map">
       select * from menu where parent_id = #{id}
    </select>
</mapper>
